<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>The Final</title>
    <div class="NAV">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h6>
              <a href="/">Home</a>
              <br>
              <a href="coffee">Coffee</a>
              <br>
              <a href="espresso">Espresso</a>
            </h6>
              <h3>
              <a href="archery">Archery</a>
              </h3>
            <h6>
              <a href="gaming">Gaming</a>
              <br>
              <a href="tattoos">Tattoos</a>
              <br>
              <a href="about">About</a>
              <br>
              <a href="contact">Contact</a>
            </h6>
          </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #009F82;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </div>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="brave.mp4" type="video/mp4">
    </video>
    <div class="caar0" style="width: 18rem;">
        <div class="caar1">
          <h1>Archery</h1>
        </div>
    </div>
    <div class="caar2" style="width: 18 rem;">
      <p>
        <b>A few facts about Archery</b>
      </p>

      <p><b><I>Safer then golf </i></b>
      <br>
      According to the National Safety Council (it does exist), archery is more than three times safer than golf,
      <br>
      with just one injury for every 2,000 participants. USA Archery reports that the sport is even safer than bowling.
      </p>

      <p><b><I>Arrows in Competition Fly 2.5 <br>Times Faster Than A Sprinting Cheetah</i></b>
      <br>
      According to the Telegraph, an arrow released in competition flies 150 mph. The world’s fastest cheetah maxes out at about 60 mph.
      </p>

      <p><b><I> From the Shooting Line, The Olympic Bull's-Eye Appears <br>As Small As A Thumbtack Held At Arm's Length </i></b>
        <br>
      The innermost circle on an Olympic-style 10-ring target measures about 12.2 centimeters across. That’s roughly the size of a CD or grapefruit.
      <br>
      Now add three-quarters of a football field between you and the target. Oh yeah: You can’t use any sort of magnification.
      <br>
      How’s it looks now? Pretty danged small! Yet somehow, they make it look so easy.
      </p>

      <p><b><I>If You Love Bows And Arrows, You’re A ToxophilIite.</i></b>
      <br>
      It’s a funny-sounding word, but it’s legitimate. “Toxophilite” originates from Greek “toxon” for “bow and arrow” and “philos” for “loving.
      </p>

      <p><b><I>Archery “Disappeared” From the Olympics For More Than 50 Years</i></b>
        <br>
      Can you believe it? How did the sport go from absent to most-watched? As mentioned earlier, archery was introduced to the Olympics in 1900.
      <br>
       It was then dropped in 1920 because it lacked international uniformity in rules and equipment. Enter World Archery, formerly called the
       <br>
       International Archery Federation. Archery returned in the 1972 Games and has been a staple since.
      </p>
    </div>
    <div>
      <img src="LoBo.jpg" class="LB"></img>
      <img src="ReBo.jpg" class="RB"></img>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
