<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>The Final</title>
    <div class="NAV">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h6>
              <a href="/">Home</a>
              <br>
              <a href="coffee">Coffee</a>
            </h6>
              <h3>
              <a href="espresso">Espresso</a>
              </h3>
            <h6>
              <a href="archery">Archery</a>
              <br>
              <a href="gaming">Gaming</a>
              <br>
              <a href="tattoos">Tattoos</a>
              <br>
              <a href="about">About</a>
              <br>
              <a href="contact">Contact</a>
            </h6>
          </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #009F82;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </div>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="espr.mp4" type="video/mp4">
    </video>
    <div class="caes" style="width: 18rem;">
      <div class="caes0">
        <h1>Espresso</h1>
      </div>
    </div>
    <div class="caes1" style="width: 18rem;">
      <p>
        <b>Here are 5 facts about espresso</b>
        <ol>
          <p><b><I>1. In Italian espresso means "when something is forced out."</i></b>
            <br>
          This refers to the way espresso is made — forcing boiling water through pressed coffee grounds.
          <br>
          And, although espresso has more caffeine per volume than
        coffee, because it's consumed in smaller quantities,
        <br>
        it actually has about a third of the amount of caffeine as a regular cup of coffee.
          </p>
        </ol>
        <ol>
          <p><b><I>2. The best way to make espresso</i></b>
            <br>
          The ideal brewing temperature for espresso is 190°F to 195°F.  <br>
          The serving temperature for espresso (temperature inside the cup) is 160°F. <br>
          The ideal time for brewing 1 shot of espresso is 25-30 seconds.  <br>
          </p>
        </ol>
        <ol>
          <p><b><I>3. The Beans for espresso's</i></b>
            <br>
          Any type of coffee roast can be used to make an espresso; the grind size and <br>
          preparation are what makes it an espresso.Roasted coffee beans start to lose small
          <br>
          amounts of flavor within two weeks. Ground coffee begins to lose its flavor in one hour.
          <br>
          Brewed coffee and espresso begin to lose flavor within minutes.
          </p>
        </ol>
        <ol>
          <p><b><I>4. The best resolute</i></b>
            <br>
          Using the right espresso cup is important. The maximum capacity should be 2 ounces (60 ml) but should only be  <br>
          filled 2 /3 of the way full. If the cups are too large the espresso will cool down too quickly. The cup should also be made of <br>
          thick porcelain and it is recommended to always preheat the cup before adding the espresso.
          A good espresso should be able to hold a sprinkling of sugar on top of the crema for approximately 30 seconds before it sinks.
          </p>
        </ol>
        <ol>
          <p><b><I>5. Invention and holidays</I></b>
            <br>
          Espresso was first invented in the early 1900s as a way to decrease workers’ coffee break time.  <br>
          September 29th is National Mocha Day. <br>
          November 24th is National Espresso Day.
          </p>
        </ol>
      </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
