<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>The Final</title>
    <div class="NAV">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h6>
              <a href="/">Home</a>
              <br>
              <a href="coffee">Coffee</a>
              <br>
              <a href="espresso">Espresso</a>
              <br>
              <a href="archery">Archery</a>
            </h6>
              <h3>
              <a href="gaming">Gaming</a>
              </h3>
            <h6>
              <a href="tattoos">Tattoos</a>
              <br>
              <a href="about">About</a>
              <br>
              <a href="contact">Contact</a>
            </h6>
          </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #009F82;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </div>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="gaming.mp4" type="video/mp4">
    </video>
    <div class="caga0" style="width: 18rem;">
      <div class="caga1">
        <h1>Gaming</h1>
      </div>
    </div>
    <div class="caga2">
      <p><b>A few facts about games</b></p>

      <p><b><I>The Code</i></b>
      <br>
      The most famous G code for video games of all time up up down down left right left right B A
      <br>
      this was made popular by the game Contra which gives the player a full set of power-ups and it’s called Konami code or Gamers code.
      </p>

      <p><b><I>Pac-man for woman</i></b>
      <br>
      According to Toru Iwatwani, the creator of Pac-Man, he wanted to create a game that will attract women to play it.
      <br>
      And the reason he chose Pac-man as always eating something was because he thought the women were always eating something.
      </p>

      <p><b><I>The Legend</i></b>
      <br>
      Robin Willams (famous Hollywood star) is a big fan of video games, so much so that he has named his kids after the
      <br>
      character of popular video games – Zelda (The legend of Zelda) and Cody (Final Fight)
      </p>

      <p><b><I>Chain Creation</i></b>
      <br>
      Nolan Bushnell founder of Atari also founded the famous kid’s fast food chain ‘Chuck E Cheese’ as a way to get kids play Atari arcade games.
      </p>

      <p><b><I>Losing Money? </i></b>
      <br>
      Taito’s arcade game, Space Invaders was so successful in japan that rumors have it that it caused a shortage of 100-yen coins.
      </p>

      <p><b><I>The highest Grossing game</i></b>
      <br>
      He highest grossing game of all time im America is actually World of WarCraft bringing in whopping ten billion dollars over its lifetime.
      </p>

      <p><b><I>2/3</i></b>
      <br>
      Two-thirds of American households play games 60% are male, 40% are female.
      </p>
    </div>
    <div>
      <img src="ga1.jpg" class="ga1">
      <img src="ga2.jpg" class="ga2">
      <img src="ga3.jpg" class="ga3">
      <img src="ga4.jpg" class="ga4">
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
s
