<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>

    <title>The Final</title>
    <div class="NAV">
      <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h6>
              <a href="/">Home</a>
              <br>
              <a href="coffee">Coffee</a>
              <br>
              <a href="espresso">Espresso</a>
              <br>
              <a href="archery">Archery</a>
              <br>
              <a href="gaming">Gaming</a>
            </h6>
              <h3>
              <a href="tattoos">Tattoos</a>
              </h3>
            <h6>
              <a href="about">About</a>
              <br>
              <a href="contact">Contact</a>
            </h6>
          </div>
        </div>
        <nav class="navbar navbar-light" style="background-color: #009F82;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
    </div>
  </head>
  <body>
    <video autoplay muted loop id="myVideo">
      <source src="tatt.mp4" type="video/mp4">
    </video>
    <div class="cata0" style="width: 18rem;">
      <div class="cata1">
        <h1>Tattoos</h1>
      </div>
    </div>
    <div class="cata2">
      <p><b>A few Tattoos facts</b></p>

      <p><b><i>According to a survey, more women than men in the US have tattoos</i></b>
        <br>
      When it comes to getting inked, 59 percent of women have tattoos compared to 41 percent of men, according to a new poll released by the
      <br>
      Oxygen Network and Lightspeed Research. What’s more, 40 percent of women made their tattoo experience a shared one, often getting inked with friends and
      <br>
      loved ones. Apparently, women use the “bring-a-buddy” approach to tattoo parlors,just like they do with public bathrooms.
      <br>
      Your skin is pierced 50 to 3000 times per minute by the tattoo machine when you get a tattoo.
      </p>

      <p><b><i>Confucius doesn't like Tattoos</i></b>
        <br>
      The philosopher Confucius was against tattoos because he propagated that the human body is a gift.
      <br>
      However, China’s stone sculptures depict men with tattoos on their faces as early as the 3rd century BC.
      </p>

      <p><b><i>The amount</i></b>
        <br>
      Americans spend a staggering $1.65 billion on tattoos each year!
      </p>

      <p><b><i>Where is a Tattoo?</i></b>
        <br>
      A tattoo is etched in the second layer of the skin, the dermis. The cells of the dermis are more stable than those of the epidermis.
      </p>

      <p><b><i>Multiple facts</i></b>
        <br>
      ‘Tattoo’ is one of the most misspelled words in the English language.
      <br>
      Women are more likely to get their tattoos removed as compared to men
      <br>
      ‘Holiday’ is the name given to the area where the color of the tattoo has faded
      <br>
      Laser surgery is the most effective tattoo removal technique. Black is the easiest color to get rid of as it absorbs a greater number of laser waves. Green and yellow are the most difficult to remove.
      <br>
      Rocker Tommy Lee made a world record when he became the first man to be tattooed midair in 2007. His name entered the Guinness Book of Records.
      </p>
    </div>
    <div>
      <img src="ta1.jpg" class="ta1"></img>
      <img src="ta2.jpg" class="ta2"></img>
        <img src="ta5.jpg" class="ta5"></img>
      <img src="ta4.jpg" class="ta4"></img>
      <img src="ta3.jpg" class="ta3"></img>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
